In [1]:
conda install pymongo

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
import pandas as pd
import json

In [3]:
client = pymongo.MongoClient("mongodb://localhost:27017")

In [5]:
df = pd.read_csv("my_chaine.csv")

In [6]:
df.head()

,Unnamed: 0,titre,vues,date
0,0,Tunisiens Résidant à l’Étranger | « Canaux de ...,"8,3 k vues",il y a 2 mois
1,1,Tunisiens Résidant à l’Étranger | « Comptes ba...,186 vues,il y a 2 mois
2,2,Tunisiens Résidant à l’Étranger | Service « E-...,101 vues,il y a 2 mois
3,3,NaN,NaN,NaN
4,4,NaN,NaN,NaN

In [7]:
df.tail()

,Unnamed: 0,titre,vues,date
7,7,Attijari bank fête la rentrée scolaire aux éco...,33 k vues,il y a 3 ans
8,8,Attijari bank met à votre disposition des fina...,31 k vues,il y a 3 ans
9,9,NaN,NaN,NaN
10,10,NaN,NaN,NaN
11,11,NaN,NaN,NaN

In [8]:
df.shape

(12, 4)

In [9]:
data = df.to_dict(orient = "records")

In [10]:
data

[{'Unnamed: 0': 0,
  'titre': 'Tunisiens Résidant à l’Étranger | « Canaux de Transfert » de Attijari bank',
  'vues': '8,3 k vues',
  'date': 'il y a 2 mois'},
 {'Unnamed: 0': 1,
  'titre': 'Tunisiens Résidant à l’Étranger | « Comptes bancaires » de Attijari bank',
  'vues': '186 vues',
  'date': 'il y a 2 mois'},
 {'Unnamed: 0': 2,
  'titre': 'Tunisiens Résidant à l’Étranger | Service « E-Transfert » de Attijari bank',
  'vues': '101 vues',
  'date': 'il y a 2 mois'},
 {'Unnamed: 0': 3, 'titre': nan, 'vues': nan, 'date': nan},
 {'Unnamed: 0': 4, 'titre': nan, 'vues': nan, 'date': nan},
 {'Unnamed: 0': 5, 'titre': nan, 'vues': nan, 'date': nan},
 {'Unnamed: 0': 6,
  'titre': 'Attijari bank et Tunisair signent un contrat de financement de la rénovation des réacteurs d’avions',
  'vues': '35 k vues',
  'date': 'il y a 4 ans'},
 {'Unnamed: 0': 7,
  'titre': 'Attijari bank fête la rentrée scolaire aux écoles primaires Awled Gacem et Jbel Eddis à Nefza',
  'vues': '33 k vues',
  'date': 'il y a 3 ans'},
 {'Unnamed: 0': 8,
  'titre': 'Attijari bank met à votre disposition des financements d’une valeur de 150 millions de dinars!',
  'vues': '31 k vues',
  'date': 'il y a 3 ans'},
 {'Unnamed: 0': 9, 'titre': nan, 'vues': nan, 'date': nan},
 {'Unnamed: 0': 10, 'titre': nan, 'vues': nan, 'date': nan},
 {'Unnamed: 0': 11, 'titre': nan, 'vues': nan, 'date': nan}]

In [11]:
db = client["WebScraping"]

In [12]:
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'WebScraping')

In [13]:
db.youtub.insert_many(data)